{% extends "base.html" %}
{% block content %}

<div class="d-flex justify-content-center align-items-center" style="height:100vh;">

    <div class="card bg-dark text-white p-4 shadow" style="width:100%; max-width:400px; border-radius:15px;">

        <h3 class="text-center mb-3">🔐 Login</h3>

        <form method="POST">

            <input class="form-control mb-3" name="username" placeholder="Username">

            <input class="form-control mb-3" type="password" name="password" placeholder="Password">

            <button class="btn btn-primary w-100">Login</button>

        </form>

        <p class="text-center mt-3">
            Don't have an account?
            <a href="/register" class="text-info">Register</a>
        </p>

    </div>

</div>

{% endblock %}