{% extends "base.html" %}
{% block content %}

<div class="d-flex justify-content-center align-items-center" style="height:90vh;">

    <div class="card bg-dark text-white p-4" style="width:100%; max-width:400px;">

        <h4 class="text-center mb-3">Upload Video</h4>

        <form method="POST" enctype="multipart/form-data">

            <input type="file" name="video" class="form-control mb-3">

            <button class="btn btn-success w-100">Upload</button>

        </form>

        <a href="/dashboard" class="text-center d-block mt-3 text-light">
            Back
        </a>

    </div>

</div>

{% endblock %}